.action-menu {
    -fx-background-color: #EDEBE0;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-border-color: #b4b4b4;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-alignment: center;
    -fx-font-family: 'Pixels';
}

.action-separator {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.action-button {
    -fx-background-color: #7F7F7F;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: #cbcbcb;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.action-button:hover {
    -fx-background-color: #b8b8b8;
}

.action-attack {
    -fx-background-color: #DB1B3E;
    -fx-border-color: #ff234b;
}

.action-attack:hover {
    -fx-background-color: #ff234b;
}

.action-switch {
    -fx-background-color: #4881B3;
    -fx-border-color: #58a2e3;
}

.action-switch:hover {
    -fx-background-color: #58a2e3;
}

.action-item {
    -fx-background-color: #FFA300;
    -fx-border-color: #ffbc47;
}

.action-item:hover {
    -fx-background-color: #ffbc47;
}

.attack-FLORA {
    -fx-background-color: #278A27;
    -fx-border-color: #37b437;
}

.attack-PYRO {
    -fx-background-color: #cd0c0c;
    -fx-border-color: #ff9500;
}

.attack-LITHO {
    -fx-background-color: #7600b6;
    -fx-border-color: #a200ff;
}

.attack-AQUA {
    -fx-background-color: #00a8b1;
    -fx-border-color: #00f3f8;
}

.attack-FLORA:hover {
    -fx-background-color: #37b437;
}
.attack-PYRO:hover {
    -fx-background-color: #b25300;
}
.attack-AQUA:hover {
    -fx-background-color: #11bcb3;
}
.attack-LITHO:hover {
    -fx-background-color: #aa33c8;
}