.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 2 0 2;
}

.scroll-bar .track {
    -fx-background-color: color-surface-border;
    -fx-background-radius: 4;
    -fx-border-width: 0;
}

.scroll-bar .thumb {
    -fx-background-color: color-secondary;
    -fx-background-radius: 4;
}

.scroll-bar .thumb:hover {
    -fx-background-color: color-secondary-hover;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
