.victory-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-font-family: 'Pixels';
    -fx-text-fill: #FFD700;
}

.victory-continue-button {
    -fx-background-color: #3CB371;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Pixels';
    -fx-background-radius: 0;
}
