.menu-button {
    -fx-background-color: #3CB371;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 12 30 12 30;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-min-width: 380;
}

.menu-button:hover {
    -fx-background-color: #8BB39E;
}

.menu-button:pressed {
    -fx-background-color: #8BB39E;
}
