.dialog-zone {
    -fx-background-color: #EDEBE0;
    background-color: #EDEBE0;
    -fx-padding: 20;
    padding: 20;
    -fx-spacing: 20;
    -fx-border-color: #b4b4b4;
    border-color: #b4b4b4;
    -fx-border-radius: 10;
    border-radius: 10;
    -fx-border-width: 2;
    border-width: 2;
    -fx-alignment: center;
    -fx-font-family: 'Pixels', sans-serif;
    font-family: 'Pixels', sans-serif;
}

.dialog-text {
    -fx-font-size: 16px;
    font-size: 16px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-text-fill: white;
}

.next-button {
    -fx-background-color: #278A27;
    background-color: #278A27;
    -fx-border-width: 2;
    border-width: 2;
    -fx-border-radius: 5;
    border-radius: 5;
    -fx-border-color: #37b437;
    border-color: #37b437;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-font-size: 10px;
    font-size: 10px;
    -fx-cursor: hand;
    cursor: pointer;
}

.additional-info {
    -fx-font-size: 14px;
    font-size: 14px;
    -fx-text-fill: #333333;
}