# Format: Prenom Nom <email@final.com> <email@commit.com>

Ethan Van Ruyskensvelde	<ethan.van.ruyskensvelde@ulb.be>	<ethanvr3@gmail.com>

Lucas Verbeiren	        <lucas.verbeiren@ulb.be>            <lucas.verbeiren@gmail.com>

Romain Dejean           <romain.dejean@ulb.be>              <romaindejean22@gmail.com>

Romain Liefferinckx     <romain.liefferinckx@ulb.be>        <romain.liefferinckx@ulb.be>

Manuel Rocca            <manuel.rocca@ulb.be>               <manuel.rocca@ulb.be>
Manuel Rocca            <manuel.rocca@ulb.be>               <manuelrocca05@gmail.com>

Philippe Brisbois       <philippe.brisbois@ulb.be>          <115153570+UnderNowhere@users.noreply.github.com>
Rareș Radu Loghin       <rares.radu.loghin@ulb.be>          <rraduloghon@gmail.com>
Martin Gouverneur       <martin.gouverneur@ulb.be>          <gouverneur.martin@hotmail.com>

Rareș Radu Loghin       <rares.radu.loghin@ulb.be>          <rraduloghon@gmail.com>

Martin Gouverneur       <martin.gouverneur@ulb.be>          <gouverneur.martin@hotmail.com>


# Assistants
Yannick Molinghen       <yannick.molinghen@ulb.be>          <yannick.molinghen@ulb.be>
Martin Colot            <martin.colot@ulb.be>               <martin.colot@ulb.be>
